:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Merriweather Sans', sans-serif;
    background-color: var(--body-bg-color);
    color: var(--text-color);
    display: flex;
    flex-wrap: wrap;
    padding: 24px;
    gap: 40px;
    width: 100vw;
}

.child-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: auto;
    flex-shrink: 1;
    flex-grow: 1;
    gap: 30px;
}

.child-right{
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    flex-grow: 1;
    gap: 30px;
}

.profile{
    width: auto;
    padding-top: 32px;
    padding-bottom: 50px;
    border-radius: 20px;
    background: var(--bg-cards);
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.20);
}

.profile-image{
    width: 128px;
    height: 128px;
    margin: auto;
}

.profile-text{
    display: block;
    text-align: center;
    line-height: 28px;
    margin-top: 30px;
}

#text1{
    font-size: 23px;
    font-weight: 700;
}

#text2{
    font-size: 13px;
    font-weight: 300;
}

.info{
    width: auto;
    border-radius: 20px;
    background-color: var(--bg-cards);
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.20);
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.info-links-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.info-links-list li{
    list-style: none;
    display: flex;
    align-items:center;
}

.info-links-list span{
    font-weight: 400;
    font-size: 16px;
}

.info-links-list img{
    vertical-align:middle;
    margin-right: 20px;
    width: 24px;
    height: 24px;
    filter: invert(62%) sepia(9%) saturate(1031%) hue-rotate(209deg) brightness(81%) contrast(80%);
}

.technologies{
    width: auto;
    border-radius: 20px;
    background-color: var(--bg-cards);
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.20);
    padding: 30px 20px;
}

.technologies-title{
    font-size: 20px;
    font-weight: 700;
}

.technologies-grid{
    margin-top: 20px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, auto);
}

.technologies-grid div{
    border-radius: 30px;
    background: var(--bg-techs);
    color: black;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    padding-top: 6px;
    padding-bottom: 6px;
}

.timeline{
    width: auto;
    border-radius: 20px;
    background-color: var(--bg-cards);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.20);
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.timeline-title{
    font-size: 20px;
    font-weight: 700;
}

.timeline-list li{
    margin-left: 60px;
    margin-top: 20px;
}

.timeline-list-title{
    font-weight: 700;
    font-size: 18px;
}

.timeline-list-subtitle{
    font-weight: 400;
    font-size: 16px;
}

.timeline-list-info{
    font-weight: 500;
    font-size: 14px;
}

.projects{
    width: auto;
    border-radius: 20px;
    background: var(--bg-cards);
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.20);
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
}

.projects h2{
    font-size: 20px;
    font-weight: 700;
}

.projects span{
    font-size: 14px;
    font-weight: 400;
}

.about-project{
    display: flex;
    gap: 30px;
}

.my-onix{
    flex-grow: 1;
    border-radius: 20px;
    background: var(--bg-cards);
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.20);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.my-onix-image {
    display: flex;
}

.my-onix-image img{
    filter: invert(62%) sepia(9%) saturate(1031%) hue-rotate(209deg) brightness(81%) contrast(80%);
    margin-right: 16px;
}

.my-onix-image p{
    font-size: 16px;
    font-weight: 700;
}

.my-onix-text p{
    font-size: 14px;
    font-weight: 400;
}

.my-onix-symbols{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.my-onix-symbols img{
    filter: invert(62%) sepia(9%) saturate(1031%) hue-rotate(209deg) brightness(81%) contrast(80%);
}

.my-onix-symbols p{
    font-size: 14px;
    font-weight: 400;
}

.my-onix-symbols div{
    display: flex;
}

.my-onix-icons{
    display: flex;
    align-items: center;
    gap: 14px;
}

.language{
    display: flex;
    align-items: center;
    gap: 4px;
}

.recent-posts{
    width: auto;
    border-radius: 20px;
    background: var(--bg-cards);
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.20);
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
}


.recent-posts p{
    font-size: 20px;
    font-weight: 700;
}

.description{
    width: auto;
    border-radius: 20px;
    background: var(--bg-cards);
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.20);
    display: flex;
    padding: 30px;
    gap: 30px;
    align-items: center;
}

.description img{
    height: 100%;
}

.description-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.description-text-1{
    font-size: 24px;
    font-weight: 700;
}

.description-text-2{
    font-size: 14px;
    font-weight: 400;
}

.description-text-3{
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}

.description-test-hashtag{
    display: flex;
    gap: 20px;
}

.description-test-hashtag p{
    font-size: 14px;
    font-weight: 400;
}

@media (max-width: 768px) {
    .my-onix-symbols{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        gap: 20px;
    }
    
    .description img{
        height: 80%;
    }

    .description-text-1{
        font-size: 20px;
        font-weight: 700;
    }

    .about-project{
        flex-direction: column;
    }
}